<ion-view>
  <ion-nav-bar class="bar bar-header ">
      <ion-nav-back-button>
      </ion-nav-back-button>
  </ion-nav-bar>   
  <ion-content id="events" scroll="false">
    <div class="card">
    	<div class="list">
            <a menu-close ui-sref="policeStations" class="item item-icon-right">Event</a>
        </div>
    </div>

    <div class="card">
        <div class="list">
            <a menu-close ui-sref="policeStations" class="item item-icon-right">Event</a>
        </div>
    </div>

    <div class="card">
        <div class="list">
            <a menu-close ui-sref="policeStations" class="item item-icon-right">Event</a>
        </div>
    </div>
  </ion-content>
</ion-view>  
 