
<ion-pane id="login" scroll="false">
  <section>
    <div class="container-fluid align-center">
        <div class="login-form align-center">
          <!-- <ion-spinner icon="dots" class="spinner-dark" ></ion-spinner> -->
          <button class="btn button-blue" ui-sref="home"><i class="fa fa-facebook" style="border-right: 1px solid #2e6da4;"></i> Log in with Facebook</button>
          <div class="divider"><span>Or</span></div>
          <button class="btn button-red"><i class="fa fa-google-plus" style="border-right: 1px solid #d43f3a;"></i> Sign in with Google</button>
        </div> 
    </div>
  </section>
  
  <footer>
    <div class="container-fluid">
      <div class="copyright align-center">
        <p>Copyright &copy; E-Responders 2016</p>
      </div>
    </div>
  </footer>
</ion-pane>  